Clouddriver: Cannot authenticate with OpenShift Docker Registry (OCR)

### Issue Summary:
I configured the OpenShift Docker Registry and it validated fine in Halyard. After deploying I get the following errors in Clouddriver:
```
2018-12-20 13:25:00.364 ERROR 1 --- [pool-6-thread-1] c.n.s.c.d.r.a.v.c.DockerRegistryClient : Error authenticating with registry https://foo.otto.de , for request 'v2 version check': Failed to parse www-authenticate header: Www-Authenticate header must provide 'service' parameter.


com.netflix.spinnaker.clouddriver.docker.registry.api.v2.exception.DockerRegistryAuthenticationException: Failed to parse www-authenticate header: Www-Authenticate header must provide 'service' parameter.
--
```

So is the code assuming something here?
Is the Halyard validation missing some parts?

### Cloud Provider(s):
Kubernetes

### Environment:
OpenShift 3.9+


Reading [Section 3 of RFC 6750: The OAuth 2.0 Authorization Framework: Bearer Token Usage](https://tools.ietf.org/html/rfc6750#section-3), there seams to be no mention of `service`!?

Should be fixed by https://github.com/spinnaker/clouddriver/pull/3237

This issue hasn't been updated in 45 days, so we are tagging it as 'stale'. If you want to remove this label, comment:

> @spinnakerbot remove-label stale

This issue is tagged as 'stale' and hasn't been updated  in 45 days, so we are tagging it as 'to-be-closed'. It will be closed in 45 days unless updates are made. If you want to remove this label, comment:

> @spinnakerbot remove-label to-be-closed

This issue is tagged as 'to-be-closed' and hasn't been updated  in 45 days, so we are closing it. You can always reopen this issue if needed.